.container {
    background-color: pink;
    grid-gap: 20px;
    font-size: medium;
}

.h1 {
    color: rgb(39, 39, 39);
    font-size: small;
    align-items: center;
    padding-top: 25px;
    padding-left: 50px;
}

.divlogo {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.categories {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 50px;
    margin-bottom: 75px;
}

.button {
    background: black;
    color: white;
    padding: 10px;
    transition: all 0.5s;
    margin-top: 1rem;
    border-radius: 8px;
    width: 12rem;
    justify-content: space-between;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: darkgray;
    color: black;
}

.logo{
    height: 150px;
    width: 150px;
}